@import 'mixin.scss';

.view-container {
  overflow-y: auto;

  .page-header {
    padding: 1em;
    position: sticky;
    background: #efefef;
    top: 0;
    font-weight: 600;
    z-index: 10;
    display: flex;
    align-items: center;
    text-justify: space-between;

    .title {
      flex-basis: 0;
      flex-grow: 1;
      font-size: 1.8rem;
    }

    .status {
      flex-basis: 0;
      flex-grow: 1;
      text-align: right;
    }
  }

  .property-list {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;

    grid-template-columns: [first] 1fr [end];

    @include for-middle-screen {
      grid-template-columns: [first] 1fr [second] 1fr [end];
    }

    @include for-large-screen {
      grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [end];
    }

    .property-item {
      flex-basis: 100%;
    }
  }
}
