@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
  background-color: #dfdfdf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

.loading {
  color: blue;
}

a {
  color: var(--nav-primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

img.fav-image {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.app-container {
  background-color: white;
  max-width: 1180px;
  margin: auto;
  overflow: hidden;
}
